body{
    background-color: black;
    color:white;
}
p{
    margin-bottom:0rem;
}
.leader{
    border-style: solid;
    border-radius: 0.5rem;
    margin-bottom: 4rem;
}
.leader-input{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
.teammate{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    border-style: solid;
    border-radius: 0.5rem;
    margin-bottom: 4rem;

}
@media screen and (min-width:768px){
   .form-body{ 
    display:flex;
    flex-direction:column;
    flex-wrap: nowrap;
    padding:10rem;
   }
   
    /* .leader{
        display: inline;
    }
    .teammate{
        display: inline;
    }
    .submit{
        display: inline;
    } */
}
