#tracks
{
    margin:150px 0;
    margin-bottom: 300px;
}

#tracks .cards
{
    display: flex;
    justify-content: space-around;
}
#tracks .wrapper
{
    border-radius: 15px;
    height: 300px;
    border: solid 3px white;
    width:20%;
    text-align: center;
    padding-top: 50px;
    font-size: 90px;
    transition:0.5s;
}

#tracks .wrapper:hover
{
    transform: scale(1.12);
}

#tracks .heading
{
    margin-bottom: 20px;
}

@media screen and (max-width:450px) {
    .cards{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin:10px;
    }
    #tracks .wrapper{
        width:80vw;
        margin:10px;
    }

}