{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Our Sponsors</title>

    <link href="{%static 'css/all-sponsors.css' %}" rel="stylesheet" />
  </head>
  <body>
    <div class="page">
      <div class="sponsors-flex">
        <div class="power-sponsors">
          <center><h1 class="sponsor-title">Power Sponsors</h1></center>
            <div class="power-sponsors-grid">
                <div class="p-sponsor"><img src="{%static 'images/istelogo.png' %}"></div>
                <div class="p-sponsor"><img src="{%static 'images/istelogo.png' %}"></div>
                <div class="p-sponsor"><img src="{%static 'images/istelogo.png' %}"></div>
            </div>
        </div>

        <div class="title-sponsors">
          <center><h1 class="sponsor-title">Title Sponsors</h1></center>
          <div class="title-sponsors-grid">
                <div class="t-sponsor"><img src="{%static 'images/istelogo.png' %}"></div>
                <div class="t-sponsor"><img src="{%static 'images/istelogo.png' %}"></div>
                <div class="t-sponsor"><img src="{%static 'images/istelogo.png' %}"></div>
                <div class="t-sponsor"><img src="{%static 'images/istelogo.png' %}"></div>
                <div class="t-sponsor"><img src="{%static 'images/istelogo.png' %}"></div>
                <div class="t-sponsor"><img src="{%static 'images/istelogo.png' %}"></div>
           </div>
        </div>

        <div class="associate-sponsors">
          <center><h1 class="sponsor-title">Associate Sponsors</h1></center>
          <div class="associate-sponsors-grid">
                <div class="a-sponsor"><img src="{%static 'images/istelogo.png' %}"></div>
                <div class="a-sponsor"><img src="{%static 'images/istelogo.png' %}"></div>
                <div class="a-sponsor"><img src="{%static 'images/istelogo.png' %}"></div>
                <div class="a-sponsor"><img src="{%static 'images/istelogo.png' %}"></div>
                <div class="a-sponsor"><img src="{%static 'images/istelogo.png' %}"></div>
                <div class="a-sponsor"><img src="{%static 'images/istelogo.png' %}"></div>
           </div>
        </div>

        <div class="media-and-outreach-sponsors">
          <center><h1 class="sponsor-title" style="margin-left:0.5rem ;margin-right:0.5rem;">Media And Outreach Sponsors</h1></center>
          <div class="mno-sponsors-grid">
                <div class="mno-sponsor"><img src="{%static 'images/istelogo.png' %}"></div>
                <div class="mno-sponsor"><img src="{%static 'images/istelogo.png' %}"></div>
                <div class="mno-sponsor"><img src="{%static 'images/istelogo.png' %}"></div>
                <div class="mno-sponsor"><img src="{%static 'images/istelogo.png' %}"></div>
                <div class="mno-sponsor"><img src="{%static 'images/istelogo.png' %}"></div>
                <div class="mno-sponsor"><img src="{%static 'images/istelogo.png' %}"></div>
                <div class="mno-sponsor"><img src="{%static 'images/istelogo.png' %}"></div>
                <div class="mno-sponsor"><img src="{%static 'images/istelogo.png' %}"></div>
           </div>
        </div>
      </div>
    </div>
  </body>
</html>
